@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>K-Love Demo</h1>
    <p class="lead">A Demo Web applications using EF6, SQL Server, Razor Templates, HTML, CSS and JavaScript.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Objectives</h2>
        <p>
            Use of C#, ASP.NET MVC, and Entity Framework. CRUD for Departments. CRUD for Employees (including contact information)
            Ability to associate an Employee with a Department. Ability to view a list of all Employees in a Department.
            Instructions on how to install/run/test the application.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Enviroment</h2>
        <p>Asp.net Razor pages powered by EF-6, IIS server, Sql Server backend, Visual Studio 2019 IDE  </p>
    </div>
    <div class="col-md-4">
        <h2>Client Side only</h2>
        <p>All Data manipulation is client side only. Not implemented Server Side Stored procedures.</p>
    </div>
</div>